.react-resizable-handle {
    display: none;
}

.react-resizable:hover > .react-resizable-handle {
    display: block;
}

.disable-interactions {
    pointer-events: none;
    opacity: 0.7;
}

.short-essay-input {
    width: 400px;
    height: 150px;
    border: 1px solid black;
    outline: none;
    resize: none;
    font-size: .8rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.5;
    padding: 0.5rem;
    box-sizing: border-box;
    overflow: auto;
    background-color: #f5f5f5;
}
